<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travel_App"
        tools:targetApi="31">
        <activity
            android:name=".Loading"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false"></activity>
        <activity
            android:name=".AboutFragment"
            android:exported="false" />
        <activity
            android:name=".CalculatorFragment"
            android:exported="false" />
        <activity
            android:name=".SettingsFragment"
            android:exported="false" />
        <activity
            android:name=".ProfileFragment"
            android:exported="false" />
        <activity
            android:name=".LocationFragment"
            android:exported="false" />
        <activity
            android:name=".PopularPlacesFragment"
            android:exported="false" />
        <activity
            android:name=".NavActivity"
            android:exported="false" />
        <activity
            android:name=".Sign_Up"
            android:exported="false" />
        <activity
            android:name=".BigTemple"
            android:exported="false" />
        <activity
            android:name=".BoatHouse"
            android:exported="false" />
        <activity
            android:name=".Goa"
            android:exported="false" />
        <activity
            android:name=".TajMahal"
            android:exported="false" />
        <activity
            android:name=".IshaYoga"
            android:exported="false" />
        <activity
            android:name=".Manali"
            android:exported="false" />
        <activity
            android:name=".homePageFragment"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>